html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rancho',serif;
    font-size: 25px;
}

nav .navbar-brand 
{
    font-size: xx-large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

footer 
{
    text-align: center;
    background-color: #537fbe;
    padding: 15px;
    font-size: 23px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a 
{
    color: initial;
}

.feedback {
    text-align: center;
}

.feedback ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; 
}


.green {
    color: #528d4e;
}
.yellow {
    color: #b49f39;
}
.red {
    color: #ea433b;
}
.letter {
    flex: 33%;
    height: 50px;
    border: 1px solid grey;
    margin-right: 20px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    max-width: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.format {
    display: flex;
    margin-right: 20px;
}

.heading {
    font-size: 40px;
    color: #537fbe;
}

#small {
    font-size: 30px;
}

.alert {
    display: none;
    padding: 10px;
    background-color: #537fbe;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1000;
    font-size: 30px;
}