{% extends "layout.html" %}

{%block game%}
    <link href="/static/game.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
{%endblock%}

{%block title %}
    Game
{%endblock%}

{% block body %}
    <div class="App">
        <p class="not-supported-message">Play using landscape mode</p>
        {% if get_flashed_messages() %}
        <header>
            <div class="flash" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}
        {%block main%}
        {%endblock%}
    </div>
    <footer>
        Copyright &#169; <a href="https://danielbyiringiro.github.io/danielbyiringiro.com/" target="_blank">Daniel Byiringiro</a> 2023
    </footer>
{% endblock %}