<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        {% block boot %}{% endblock %}

        <link href="/static/styles.css" rel="stylesheet">
        
        <link href="/static/favicon.ico" rel="icon">

        <script type="text/javascript" src="/static/index.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">

        {%block game%}{%endblock%}
        
        <title>Amagambo: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="blue">A</span><span class="red">M</span><span class="yellow">A</span><span class="green">GAMBO</span></a>
                {% block style%}{% endblock %}
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["admin"] %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/admin" style="margin-right: 10px; font-size: x-large;">Admin</a></li>
                            <li class="nav-item"><a class="nav-link" href="/onboard" style="margin-right: 10px; font-size: x-large;">Onboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" style="margin-right: 10px; font-size: x-large;">Log Out</a></li>
                        </ul>
                    {% elif session["user_id"]%}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/onboard" style="margin-right: 10px; font-size: x-large;">Onboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" style="margin-right: 10px; font-size: x-large;">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block flash %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>